@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --primary-background: var(--color-gray-100);
  --secondary-background: #ffffff;
  --border-color: #e5e7eb;
  --body-text-color: var(--color-gray-900);
  --secondary-text-color: var(--color-gray-500);
  --heading-color: black;
}

@theme inline {
  --font-open-sans: var(--open-sans-font);
  --font-kufi: var(--kufi-font);

  --color-emerald-green: var(--color-emerald-500);
  --color-teal: var(--color-teal-500);
  --color-border: var(--border-color);
  --color-body: var(--body-text-color);
  --color-heading: var(--heading-color);
  --color-primary-background: var(--primary-background);
  --color-secondary-background: var(--secondary-background);
  --color-secondary: var(--secondary-text-color);
  --color-success: #22bb33;
  --color-success-bg: #dcfce7;
  --color-warning: #9f6000;
  --color-warning-bg: #fff4de;
  --color-error: #ef4444;
  --color-error-bg: #ffe2e6;
  --color-info: #31708f;
  --color-info-bg: #d5dcfc;

  --animate-float: float 6s ease-in-out infinite;
  --animate-fade: fade 1s ease-in-out infinite;
  --animate-fade-in: fade-in 0.25s ease-in;

  @keyframes float {
    0%,
    100% {
      transform: translateY(0px) rotate(0deg);
    }
    25% {
      transform: translateY(-10px) rotate(1deg);
    }
    50% {
      transform: translateY(-20px) rotate(0deg);
    }
    75% {
      transform: translateY(-10px) rotate(-1deg);
    }
  }
  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes fade {
    from {
      opacity: 100;
    }
    to {
      opacity: 0;
    }
  }
}

.dark {
  --primary-background: #111827;
  --secondary-background: var(--color-gray-800);
  --border-color: #374151;
  --body-text-color: var(--color-gray-100);
  --secondary-text-color: var(--color-gray-400);
  --heading-color: white;
}

@utility bg-gradient {
  @apply from-emerald-green to-teal bg-linear-to-r;
}

@utility button {
  @apply bg-gradient focus:ring-emerald-green focus:outline-emerald-green w-full cursor-pointer rounded-2xl px-4 py-2 font-medium text-white transition-transform duration-500 select-none hover:scale-95 focus:outline-2 focus:outline-offset-2 disabled:cursor-not-allowed disabled:opacity-75;
}

@utility input {
  @apply focus:ring-emerald-green w-full rounded-2xl border border-gray-200 bg-gray-50 px-4 py-2 focus:ring-2 focus:outline-none dark:border-gray-700 dark:bg-gray-800;
}
